<div class="card">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= link_to comment.user.name, user_path(comment.user) %> 
        <Span>
        <%=comment.text%></p>
      </Span>
    </blockquote>
  </div>
</div>
